<div align="center" style="width: 510px" class="profile modal fade" id="tripster-profile">
<object width="510" height="380">
<param name="wmode" value="window" />
<param name="allowScriptAccess" value="always" />
<param name="movie" value="http://tripster.ru/static/widget/tripster.swf?username=Lyapun" />
<embed src="http://tripster.ru/static/widget/tripster.swf?username=Lyapun" type="application/x-shockwave-flash" allowscriptaccess="always" name="tripster" width="510" height="380">
</embed></object>
</div>